* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to right, #b625c3, #f33a6a);
}

.container {
    width: 90%;
    max-width: 700px;
    margin: 20px auto;
    background-color: #ffccf2;
    border-radius: 15px;
    padding: 30px;
}

.header {
    position: relative;
    text-align: center;
    margin-bottom: 20px;
  }

  .perfil {
    position: absolute;
    top: 5%;
    left: 5px;
    transform: translate(-15%);
  }

  .perfil-icon {
    width: 35px;
    height: 35px;
  }

  .logout-btn {
    position: absolute;
    top: 5%;
    right: 5px;
    transform: translate(-50%);
  }
  
  .logout-btn img {
    width: 30px;
    height: 30px;
    cursor: pointer;
  }

  .logout-btn img:hover {
    transform: scale(1.2);
  }

  h1 {
    color: #000;
    margin-bottom: 30px;
    text-align: center;
    color: black;
    font-style: italic;
 }

 h2 {
  color: #000;
  margin-bottom: 30px;
  text-align: center;
  color: black;
  font-style: italic;
 }

label {
    display: block;
    margin-top: 15px;
    font-weight: bold;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 2px solid black;
    border-radius: 8px;
    margin-top: 5px;
}

select {
  width: 100%;
  padding: 8px 12px;
  border-radius: 5px;
  border: 1px solid #0a0a0a;
  background-color:rgb(142, 140, 236);
  font-family: sans-serif;
}

select option {
  background-color: rgb(243, 229, 190);
  color: #444;
}

button {
    background-color: black;
    color: white;
    border: none;
    padding: 10px 15px;
    margin: 5px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background-color: #333;
}

.button-group {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

@media (max-width: 600px) {
    .card {
        padding: 20px;
    }

    h1 {
        font-size: 22px;
    }

    .button-group {
        flex-direction: column;
        align-items: stretch;
    }

    button {
        width: 100%;
    }
}