* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #bd08f5, #f02367);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .container {
    background-color: #ffccf2;
    padding: 40px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 90%;
  }

  .header {
    position: relative;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .perfil {
    position: absolute;
    top: 0px;
    left: 10px;
  }
  
  .perfil-icon {
    width: 40px;
    height: 40px;
  }
  
  .logout-btn {
    position: absolute;
    top: 5px;
    right: 5px;
  }
  
  .logout-btn img {
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: transform 0.2s ease;
  }
  
  .logout-btn img:hover {
    transform: scale(1.2);
  }
  
  h1 {
    color: #000;
    margin-bottom: 10px;
    font-style: italic;
  }

  h2 {
    text-align: center;
    margin-bottom: 20px;
    padding: 15px 0;
  }

  p {
    margin-bottom: 30px;
    color: #333;
    font-size: 17px;
  }
  
  .botoes {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .botao, .btn {
    display: block;
    padding: 15px;
    border: none;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    font-size: 1.1em;
    font-weight: bold;
    transition: background-color 0.3s;
  }
  
  .paciente {
    background-color: #e91e63;
  }
  
  .profissional {
    background-color: #9c27b0;
  }
  
  .administrativo {
    background-color: #3f51b5;
  }

  .ubs {
    background-color: #07ce07;
  }

  .btn {
    background-color: #333;
  }
  
  .botao:hover {
    filter: brightness(1.1);
    transform: scale(1.13);
  }

  .btn:hover {
    filter: brightness(1.1);
    transform: scale(1.13);
  }

  @media (max-width: 600px) {
    .container {
      padding: 30px 20px;
      border-radius: 15px;
    }
  
    h1 {
      font-size: 1.6rem;
    }
  
    .botao {
      font-size: 1rem;
      padding: 12px;
    }
  }