* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(135deg, #b625c3, #f33a6a);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #ffccf2;
    width: 90%;
    max-width: 600px;
    padding: 15px;
    border-radius: 15px;
}

.header {
    position: relative;
    text-align: center;
    margin-bottom: 20px;
  }

  .perfil {
    position: absolute;
    top: 5%;
    left: 5px;
    transform: translate(-15%);
  }

  .perfil-icon {
    width: 35px;
    height: 35px;
  }

  .logout-btn {
    position: absolute;
    top: 5%;
    right: 5px;
    transform: translate(-50%);
  }
  
  .logout-btn img {
    width: 30px;
    height: 30px;
    cursor: pointer;
  }

  .logout-btn img:hover {
    transform: scale(1.2);
  }

  h1 {
    color: #000;
    margin-bottom: 30px;
    font-style: italic;
  }

  h2 {
    color: #000;
    margin-bottom: 15px;
    text-align: center;
  }

.patient-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .card {
    background-color: #fff;
    padding: 15px;
    border-radius: 12px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  }
  
  .card h3 {
    margin: 0 0 10px 0;
    color: #d4467d;
  }
  
  .card p {
    margin: 5px 0;
  }
  
  .buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
  }
  
  button {
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 8px;
    border: none;
    flex: 1;
    min-width: 120px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #333;
  }

  @media (min-width: 768px) {
    .buttons {
      flex-direction: row;
      justify-content: flex-start;
    }
  
    .buttons button {
      flex: 1;
    }
  }