body, html {
    margin: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #d400ff, #f03b53fa);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
  }
  
  .card {
    background-color: #ffccf2;
    border-radius: 15px;
    padding: 15px;
    width: 100%;
    max-width: 450px;
    text-align: center;
  }
  
  .card h1 {
    font-family: 'Comic Sans MS', cursive;
    font-size: 2em;
    margin-bottom: 20px;
  }
  
  .card p {
    margin-bottom: 20px;
  }
  
  .btn {
    display: block;
    background-color: black;
    color: white;
    padding: 10px;
    margin: 10px auto;
    width: 60%;
    border: none;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
  }
  
  .btn.voltar {
    width: 50%;
    margin-top: 20px;
  }
  
  @media (max-width: 600px) {
    .container {
      padding: 0 10px;
    }
  
    .card {
      padding: 20px 15px;
      border-radius: 15px;
    }
  
    .card h1 {
      font-size: 1.5em;
    }
  
    .card p {
      font-size: 0.95em;
    }
  
    input[type="text"] {
      padding: 8px;
      font-size: 0.95em;
    }
  
    .btn {
      padding: 8px;
      font-size: 0.9em;
    }
  
    .botoes {
      flex-direction: column;
      gap: 10px;
    }
  }